/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/


/*@import '~nativescript-theme-core/css/core.light.css';*/

@import '~nativescript-theme-core/css/core.dark.css';

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/

.btn {
    font-size: 18;
}


.cadastrar-bt {
    margin-left: 16;
    margin-right: 16;
    margin-bottom: 10;
    margin-top: 10;
    border-radius: 10;
}

.cmain {
    margin: 30;
}

.logo {
    margin-top: 20;
    margin-bottom: 10;
}

.submit-button {
    background-color: #CB1D00;
    color: white;
    margin-top: 10;
    margin-left: 16;
    margin-right: 16;
    margin-bottom: 10;
    margin-top: 10;
    border-radius: 10;
}

.whitetext {
    color: white;
    margin:10;
}

.roundbt {
    text-align: left;
    border-radius: 10;
    margin-top: 10;
    background-color: rgb(105, 117, 115);
}

.itemlista{
    background-color:rgb(58, 54, 54);
    margin:5;
    padding:10;
    border-color:white;
    border-radius: 5;
    border-width: 1;
}

.iconeclima {
    font-family: 'Weather Icons', 'weathericons-regular-webfont';
    font-size: 48;
    text-align: center;
  }

  .iconeclimapq {
    font-family: 'Weather Icons', 'weathericons-regular-webfont';
    font-size: 36;
    text-align: center;
  }

.fa {
    font-family: "FontAwesome", 'fontawesome-webfont';
    font-size: 22pt;
}

.fa1 {
    font-family: "FontAwesome", 'fontawesome-webfont';
    font-size: 22pt;
    padding: 0;
    width: 40pt
}

.fa2 {
    font-family: "FontAwesome", 'fontawesome-webfont';
    font-size: 36pt;
    padding: 0;
    width: 40pt
}

.botom-nav {
    font-family: "FontAwesome", 'fontawesome-webfont';
}

.icones {
    margin: 10;
}

.bkg {
    /*background-image: url('res://background');*/
    background-color: #808080;
    background-size: cover
}

TextField {
    background-color: white;
    margin-left: 16;
    margin-right: 16;
    margin-bottom: 0;
    margin-top: 20;
    height: 30;
    border-radius: 10;
    padding:5;
} 