<ActionBar title="BomDeIr" class="action-bar bkg">
    <ActionItem visibility="{{userService.user.super == 2&&(showlocais||showaddlocal)?'visible':'collapse'}}" ios.position="left"
        android.position="left" (tap)="goback()">
        <Button class="fa1" backgroundColor="transparent" borderColor="transparent" borderWidth="1" text="&#xF053;"></Button>
    </ActionItem>
    <!--
         <NavigationButton visibility="{{userService.user.super == 2&&(showlocais||showaddlocal)?'visible':'collapse'}}" text="Go Back"
        android.systemIcon="ic_menu_back" (tap)="goback()"></NavigationButton>

    -->

    <ActionItem visibility="{{userService.user.super == 2&&tipo=='onde'&&!showlocais?'visible':'collapse'}}" ios.position="right"
        (tap)="listacidades()">
        <Button class="fa1" backgroundColor="transparent" borderColor="transparent" borderWidth="1" text="&#xf0c9;"></Button>
    </ActionItem>

    <ActionItem visibility="{{showlocais&&!showaddlocal?'visible':'collapse'}}" ios.systemIcon="4" android.systemIcon="ic_menu_add"
        ios.position="right" (tap)="add()"></ActionItem>
    <ActionItem ios.position="right" (tap)="userService.logout()">
        <Button class="fa1" backgroundColor="transparent" borderColor="transparent" borderWidth="1" text="&#xF08B;"></Button>
    </ActionItem>
</ActionBar>
<StackLayout class="page bkg">
    <ActivityIndicator [visibility]="carregando ? 'visible' : 'collapse'" height="100%" [busy]="carregando"></ActivityIndicator>
    <StackLayout backgroundColor="transparent" visibility="{{showaddlocal?'visible':'collapse'}}">
        <SearchBar id="sblocal" hint="Digite a cidade" [text]="searchPhrase" (textChange)="onTextChanged($event)" (submit)="onSubmit($event)"
            color="black" textFieldBackgroundColor="white" textFieldHintColor="gray"></SearchBar>
        <ListView backgroundColor="transparent" id="resbusca" [items]="cidades" class="list-group">
            <ng-template let-item="item">
                <StackLayout backgroundColor="transparent" (swipe)="onSwipe($event)" class="list-group-item" (tap)="lvcidades(item)">
                    <Label text="{{ item.row.nome+' - '+item.row.uf}}" class="list-group-item-heading whitetext"></Label>
                </StackLayout>
            </ng-template>
        </ListView>
    </StackLayout>
    <StackLayout [visibility]="!carregando ? 'visible' : 'collapse'" backgroundColor="transparent">
        <StackLayout padding="5" backgroundColor="transparent" visibility="{{showlocais&&!showaddlocal?'visible':'collapse'}}" (swipe)="onSwipe($event)">
            <ListView separatorColor="transparent" height="100%" backgroundColor="transparent" id="locais" [items]="locais" padding="10">
                <ng-template let-item="item" let-i="index">
                    <GridLayout class="itemlista" columns="*,auto" (swipe)="onSwipe($event)" (tap)="localclic(item,i)">
                        <Label paddingLeft="10" col="0" verticalAlignment="center" text="{{ item.cidade+' - '+item.uf}}" class="list-group-item-heading whitetext"></Label>
                        <Button col="1" class="fa1" text="{{'\uf1f8'}}" backgroundColor="transparent" borderColor="transparent" borderWidth="1" color="red" (tap)="dellocal(i)"></Button>
                    </GridLayout>
                </ng-template>
            </ListView>
        </StackLayout>

        <GridLayout backgroundColor="transparent" id="container" visibility="{{tipo=='onde'&&!showlocais&&!showaddlocal?'visible':'collapse'}}" rows="*, auto">
            <StackLayout  backgroundColor="transparent" row="0">
                <ng-container *ngFor="let local of locais; let i = index">
                    <StackLayout visibility="{{i==tabSelectedIndex?'visible':'collapse'}}" class="fa" backgroundColor="transparent">
                        <GridLayout rows="*,auto,auto" backgroundColor="transparent">
                            <ScrollView style="margin-top: 10">
                                <StackLayout (swipe)="onSwipe($event)" backgroundColor="transparent">
                                    <Label class="whitetext" style="padding:10;font-size: 15" horizontalAlignment="center" textWrap="true" text="{{local.cidade + ' - '+local.uf}}"></Label>
                                    <WrapLayout horizontalAlignment="center" backgroundColor="transparent">
                                        <ng-container *ngFor="let item of items">
                                            <StackLayout (swipe)="onSwipe($event)" horizontalAlignment="center" (tap)="onclick(item)">
                                                <Image width="70" class="icones" src="{{ 'https://www.athena3d.com.br/bomdeir/imgs/'+userService.db.__encodeURI(item.name)+ '.png'}}"></Image>
                                                <Label class="whitetext" horizontalAlignment="center" textWrap="true" [text]="item.name"></Label>
                                            </StackLayout>
                                        </ng-container>
                                    </WrapLayout>
                                </StackLayout>
                            </ScrollView>
                        </GridLayout>
                    </StackLayout>
                </ng-container>
            </StackLayout>
            <SegmentedBar id="segmbar" selectedBackgroundColor="blue" row="1" [items]="myItems" selectedIndex="0" (selectedIndexChange)="onSelectedIndexChange($event)"
                class="m-5 page fa"></SegmentedBar>
        </GridLayout>

        <GridLayout class="page" visibility="{{tipo=='admin'?'visible':'collapse'}}" rows="*,auto,auto" backgroundColor="transparent">
            <ScrollView style="margin-top: 10">
                <StackLayout (swipe)="onSwipe($event)" backgroundColor="transparent">
                    <WrapLayout horizontalAlignment="center" backgroundColor="transparent">
                        <ng-container *ngFor="let item of items">
                            <StackLayout (swipe)="onSwipe($event)" horizontalAlignment="center" (tap)="onclick(item)">
                                <Image width="70" class="icones" src="{{ 'https://www.athena3d.com.br/bomdeir/imgs/'+userService.db.__encodeURI(item.name)+ '.png'}}"></Image>
                                <Label class="whitetext" horizontalAlignment="center" textWrap="true" [text]="item.name"></Label>
                            </StackLayout>
                        </ng-container>
                    </WrapLayout>
                </StackLayout>
            </ScrollView>
        </GridLayout>

    </StackLayout>
</StackLayout>