<ActionBar [title]="item.name" class="action-bar bkg">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="goback()"></NavigationButton>
    <ActionItem class="fab-button-simple" visibility="{{item.iddono!=7&&userService.user.super!=2?'visible':'hidden'}}" ios.systemIcon="4" android.systemIcon="ic_menu_add" ios.position="right" (tap)="add()"></ActionItem>
    <ActionItem class="fab-button-simple" visibility="{{userService.user.super==2?'visible':'hidden'}}" ios.systemIcon="12" android.systemIcon="ic_menu_search" ios.position="right" (tap)="add()"></ActionItem>
    <ActionItem ios.position="right" (tap)="userService.logout()">
        <Button class="fa1" backgroundColor="transparent" borderColor="transparent" borderWidth="1" text="&#xF08B;"></Button>
    </ActionItem>
</ActionBar>
<StackLayout class="page bkg">
    <ActivityIndicator height="100%" [busy]="carregando" [visibility]="carregando ? 'visible' : 'collapse'" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>

    <GridLayout style="background-color: transparent" (swipe)="onSwipe($event)" visibility="{{userService.user.super==0&&!carregando? 'visible': 'collapse'}}" rows="*,auto,auto">
        <ScrollView style="margin-top: 10">
            <StackLayout (swipe)="onSwipe($event)" backgroundColor="transparent">
                <WrapLayout (swipe)="onSwipe($event)" horizontalAlignment="center" backgroundColor="transparent">
                    <Label class="whitetext" horizontalAlignment="center" visibility="{{item.menu.length==0? 'visible': 'collapse'}}" text="NENHUM ESTILO ADICIONADO"></Label>

                    <ng-container *ngFor="let est of item.menu">
                        <StackLayout (swipe)="onSwipe($event)" horizontalAlignment="center" (tap)="onclick(est)">
                            <Image width="70" class="icones" src="{{userService.user.super==0? 'https://www.athena3d.com.br/bomdeir/imgs/'+userService.db.__encodeURI(est.name)+ '.png':''}}"></Image>
                            <Label class="whitetext" horizontalAlignment="center" textWrap="true" [text]="est.name"></Label>
                        </StackLayout>
                    </ng-container>
                </WrapLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>
    <Label class="whitetext" textWrap="true" textAlignment="center" horizontalAlignment="center" visibility="{{userService.user.super!=0&&item.menu.length==0&&!carregando? 'visible': 'collapse'}}" text="NADA ADICIONADO, CLIQUE NO + PARA ADICIONAR"></Label>

    <ListView separatorColor="transparent" height="100%" id="lvId" style="background-color: transparent" visibility="{{userService.user.super!=0&&!carregando? 'visible': 'collapse'}}" [items]="item.menu" class="list-group">
        <ng-template let-item="item">
            <Label (tap)="onclick(item)" [text]="item.name" class="btn btn-primary btn-active roundbt whitetext"></Label>
        </ng-template>
    </ListView>


</StackLayout>