.cmain {
    margin: 30;
}

Image {
    margin-top: 20;
    margin-bottom: 10;
}

Button {
    margin-left: 16;
    margin-right: 16;
    margin-bottom: 10;
    margin-top: 10;
    border-radius: 10;
}

TextField {
    margin-left: 16;
    margin-right: 16;
    margin-bottom: 0;
    margin-top: 20;
    height: 30;
    border-radius: 10;
    padding:5;
}

.submit-button {
    background-color: #CB1D00;
    color: white;
    margin-top: 10;
}