<ActionBar [title]="item.name" class="action-bar bkg">
    <NavigationButton  android.systemIcon="ic_menu_back" (tap)="goback()"></NavigationButton>
    <ActionItem visibility="{{!editaevento&&pagenumber==2&&!showwebview&&!showmap?'visible':'hidden'}}" ios.position="right" (tap)="abremapa()">
        <Button class="fa1" backgroundColor="transparent" borderColor="transparent" borderWidth="1" text="&#xf041;"></Button>
    </ActionItem>
    <ActionItem visibility="{{!carregando&&pagenumber==1?'visible':'hidden'}}" ios.position="right" (tap)="showCalendar()">
        <Button class="fa1" backgroundColor="transparent" borderColor="transparent" borderWidth="1" text="{{showcalendar?'&#xf0ca;':'&#xf073;'}}"></Button>
    </ActionItem>
    <ActionItem visibility="{{!carregando&&pagenumber==1&&showcalendar?'visible':'hidden'}}" ios.position="right" (tap)="gotocurday()">
        <Button class="fa1" backgroundColor="transparent" borderColor="transparent" borderWidth="1" text="&#xf05b;"></Button>
    </ActionItem>

    <ActionItem ios.position="right" (tap)="userService.logout()">
        <Button backgroundColor="transparent" borderColor="transparent" borderWidth="1" text="SAIR"></Button>
    </ActionItem>
</ActionBar>
<StackLayout class="page bkg">
    <ActivityIndicator [visibility]="carregando ? 'visible' : 'collapse'" height="100%" [busy]="carregando"></ActivityIndicator>
    <StackLayout visibility="{{!showwebview&&!showmap&&!carregando? 'visible': 'collapse'}}">
        <GridLayout (swipe)="onSwipe($event)" visibility="{{!editaevento&&pagenumber!=2?'visible':'collapse'}}" columns="auto,*,auto" rows="auto">

            <Button visibility="{{pagenumber==1&&showcalendar?'visible':'collapse'}}" (tap)="prevevt()" color="{{cureventindex<=0?'gray':'white'}}"
                text="&#xf0a5;" class="fa1" backgroundColor="transparent" borderColor="transparent" borderWidth="1" col="0"></Button>

            <Label class="whitetext" horizontalAlignment="center" col="1" style="padding:10;font-size: 15" text="{{route.snapshot.params[ 'cidade']+ '-'+route.snapshot.params['uf'] }}"></Label>

            <Button visibility="{{pagenumber==1&&showcalendar?'visible':'collapse'}}" (tap)="nextevt()" color="{{cureventindex==_events.length-1?'gray':'white'}}"
                text="&#xf0a4;" class="fa1" backgroundColor="transparent" borderColor="transparent" borderWidth="1" col="2"></Button>

        </GridLayout>
        <GridLayout (swipe)="onSwipe($event)" visibility="{{pagenumber==0? 'visible': 'collapse'}}" rows="*,auto,auto">
            <ScrollView style="margin-top: 10">
                <StackLayout (swipe)="onSwipe($event)">
                    <WrapLayout (swipe)="onSwipe($event)" horizontalAlignment="center">
                        <Label horizontalAlignment="center" visibility="{{item.menu.length==0? 'visible': 'collapse'}}" text="NENHUM EVENTO AGENDADO"></Label>
                        <ng-container *ngFor="let est of item.menu">
                            <StackLayout (swipe)="onSwipe($event)" horizontalAlignment="center" (tap)="onclick(est)">
                                <Image width="25%" class="icones" src="{{est.row!=undefined?'res://'+est.row.nome:''}}"></Image>
                                <Label class="whitetext" horizontalAlignment="center" textWrap="true" [text]="est.row!=undefined?est.row.nome:''"></Label>
                            </StackLayout>
                        </ng-container>
                    </WrapLayout>
                </StackLayout>
            </ScrollView>
        </GridLayout>
        <StackLayout visibility="{{pagenumber==1?'visible':'collapse'}}">
            <ListView separatorColor="transparent" backgroundColor="transparent" (swipe)=" onSwipe($event)" height="100%" [items]="eventos"
                class="list-group " visibility="{{!showcalendar?'visible':'collapse'}}">
                <ng-template let-item="item">
                    <GridLayout class="itemlista" (swipe)="onSwipe($event)" (tap)="eventoclick(item)" columns="auto * auto">
                        <StackLayout col="0">
                            <Label horizontalAlignment="center" text="{{item.row.ano }}" color="cyan"></Label>
                            <Label horizontalAlignment="center" text="{{item.row.abrevmes }}" color="red" textWrap="true"></Label>
                            <Label horizontalAlignment="center" text="{{item.row.diames }}" style="font-weight: bold" textWrap="true" color="orange"></Label>
                            <Label class="whitetext" horizontalAlignment="center" text="{{item.row.abrevsem }}" textWrap="true"></Label>
                        </StackLayout>
                        <StackLayout paddingLeft="10" col="1">
                            <Label class="whitetext" style="font-weight: bold;font-size:18 " text="{{item.row.nome }}" textWrap="true"></Label>
                            <Label class="whitetext" text="{{item.row.time+' - '+item.row.timefim+' '+item.row.nomelocal}}"></Label>
                        </StackLayout>
                        <Label verticalAlignment="center" paddingRight="5" class="fa" text="&#xf105;" col="2" color="white"></Label>
                    </GridLayout>
                </ng-template>
            </ListView>
            <RadCalendar visibility="{{showcalendar?'visible':'collapse'}}" #myCalendar [monthViewStyle]="monthViewStyle" (inlineEventSelected)="tapevento($event)"
                [eventsViewMode]="eventsViewMode" [eventSource]="eventSource" (dateSelected)="onDateSelected($event)" [viewMode]="viewMode">
            </RadCalendar>
        </StackLayout>
        <ScrollView visibility="{{pagenumber==2?'visible':'collapse'}}">
            <GridLayout (swipe)="onSwipe($event)" rows="auto auto auto auto auto auto auto auto auto auto">
                <GridLayout class="h3 itemlista" columns="{{editaevento?'* auto':'*'}}" row="0" (tap)="editaitem('nome')">
                    <Label class="whitetext" padding="10" style="font-weight: bold;font-size:18" text="{{curevento!=undefined?curevento.row.nome:''}}"
                        textWrap="true" col="0"></Label>
                    <Label visibility="{{editaevento?'visible':'collapse'}}" verticalAlignment="center" paddingRight="5" class="fa" text="&#xf105;"
                        color="white" col="1"></Label>
                </GridLayout>
                <GridLayout class="h3 itemlista" row="1" columns="{{editaevento?'auto * auto':'auto *'}}" (tap)="editaitem('data')">
                    <Label padding="10" class="fa whitetext" horizontalAlignment="center" verticalAlignment="center" text="&#xf073;" col="0"></Label>
                    <StackLayout padding="10" horizontalAlignment="left" col="1">
                            <Label horizontalAlignment="center" text="{{curevento!=undefined?curevento.row.ano:'' }}" color="cyan"></Label>
                            <Label horizontalAlignment="center" text="{{curevento!=undefined?curevento.row.abrevmes:'' }}" color="red"></Label>
                            <Label horizontalAlignment="center" text="{{curevento!=undefined?curevento.row.diames:'' }}" color="orange"></Label>
                            <Label horizontalAlignment="center" class="whitetext" text="{{curevento!=undefined?curevento.row.abrevsem:''}}"></Label>
                          
                    </StackLayout>
                      <Label visibility="{{editaevento?'visible':'collapse'}}" verticalAlignment="center" paddingRight="5" class="fa" text="&#xf105;"
                        color="white" col="2"></Label>
                </GridLayout>
                <GridLayout class="h3 itemlista" row="2" columns="{{editaevento?'auto * auto':'auto *'}}" (tap)="editaitem('horario')">
                    <Label padding="10" class="fa whitetext" verticalAlignment="center" text="&#xf017;" col="0"></Label>
                    <Label class="whitetext" padding="10" text="{{curevento!=undefined?curevento.row.time+' - '+curevento.row.timefim:'' }}"
                        textWrap="true" col="1"></Label>
                    <Label visibility="{{editaevento?'visible':'collapse'}}" verticalAlignment="center" paddingRight="5" class="fa" text="&#xf105;"
                        color="white" col="2"></Label>
                </GridLayout>
                <GridLayout class="h3 itemlista" row="3" columns="{{editaevento?'auto * auto':'auto *'}}" (tap)="editaitem('local')">
                    <Label padding="10" class="fa whitetext" horizontalAlignment="center" verticalAlignment="center" text="&#xf041;" col="0"></Label>
                    <StackLayout padding="10" col="1">
                        <Label class="whitetext" text="{{curevento!=undefined?curevento.row.nomelocal:'' }}" textWrap="true" style="font-weight: bold"></Label>
                        <Label style="color:aqua" text="{{curevento!=undefined?curevento.row.logradouro+', '+curevento.row.numero+' - '+curevento.row.complemento+' - '+curevento.row.cep+' - '+curevento.row.bairro+' - '+curevento.row.localidade+' - '+curevento.row.uf:'' }}"
                            textWrap="true"></Label>
                    </StackLayout>
                    <Label visibility="{{editaevento?'visible':'collapse'}}" verticalAlignment="center" paddingRight="5" class="fa" text="&#xf105;"
                        color="white" col="2"></Label>
                </GridLayout>
                <GridLayout class="h3 itemlista" row="4" columns="{{editaevento?'auto * auto':'auto *'}}" (tap)="editaitem('site')">
                    <Label padding="10" class="fa whitetext" horizontalAlignment="center" verticalAlignment="center" text="&#xf015;" col="0"></Label>
                    <Label padding="10" text="{{curevento!=undefined?curevento.row.site:'' }}" style="color:aqua" col="1"></Label>
                    <Label visibility="{{editaevento?'visible':'collapse'}}" verticalAlignment="center" paddingRight="5" class="fa" text="&#xf105;"
                        color="white" col="2"></Label>
                </GridLayout>
                <GridLayout class="h3 itemlista" row="5" columns="{{editaevento?'auto * auto':'auto *'}}" (tap)="editaitem('fone')">
                    <Label padding="10" class="fa whitetext" horizontalAlignment="center" verticalAlignment="center" text="&#xf095;" col="0"></Label>
                    <Label class="whitetext" padding="10" text="{{curevento!=undefined?curevento.row.fone:'' }}" style="color:aqua "
                        col="1"></Label>
                    <Label visibility="{{editaevento?'visible':'collapse'}}" verticalAlignment="center" paddingRight="5" class="fa" text="&#xf105;"
                        color="white" col="2"></Label>
                </GridLayout>
                <GridLayout class="h3 itemlista" row="6" columns="{{editaevento?'* auto':'*'}}" (tap)="editaitem('descricao')">
                    <StackLayout col="0">
                        <Label class="whitetext" text="Detalhes" style="font-weight: bold"></Label>
                        <Label class="whitetext" text="{{curevento!=undefined?curevento.row.descricao:'' }}" textWrap="true"></Label>
                    </StackLayout>
                    <Label visibility="{{editaevento?'visible':'collapse'}}" verticalAlignment="center" paddingRight="5" class="fa" text="&#xf105;"
                        color="white" col="1"></Label>
                </GridLayout>
                <GridLayout class="h3 itemlista" row="7" columns="{{editaevento?'* auto':'*'}}" (tap)="editaitem('estilo')">
                    <StackLayout col="0">
                        <Label class="whitetext" text="Estilo " style="font-weight: bold"></Label>
                        <Label class="whitetext" text="{{curevento!=undefined?curevento.row.estilo:'' }}" textWrap="true"></Label>
                    </StackLayout>
                    <Label visibility="{{editaevento?'visible':'collapse'}}" verticalAlignment="center" paddingRight="5" class="fa" text="&#xf105;"
                        color="white" col="1"></Label>
                </GridLayout>
                <GridLayout class="h3 itemlista" row="8" columns="{{editaevento?'* auto':'*'}}" (tap)="editaitem('artista')">
                    <StackLayout col="0">
                        <Label class="whitetext" text="Artista " style="font-weight: bold"></Label>
                        <Label class="whitetext" text="{{curevento!=undefined?curevento.row.artista:'' }}" textWrap="true"></Label>
                    </StackLayout>
                    <Label visibility="{{editaevento?'visible':'collapse'}}" verticalAlignment="center" paddingRight="5" class="fa" text="&#xf105;"
                        color="white" col="1"></Label>
                </GridLayout>
                <StackLayout visibility="{{!editaevento?'visible':'collapse'}}"  class="h3 itemlista" row="9">
                    <Label class="whitetext" text="Clima " style="font-weight: bold"></Label>
                    <GridLayout columns="*,auto">
                        <StackLayout col="0">
                            <Label class="whitetext iconeclima" text="{{curevento!=undefined?dadosclima[curevento.row.clima]!=undefined?dadosclima[curevento.row.clima].charcod:'':''}}"
                                textWrap="true"></Label>
                            <Label class="whitetext" horizontalAlignment="center" text="{{curevento!=undefined?dadosclima[curevento.row.clima]!=undefined?dadosclima[curevento.row.clima].texto:'':''}}"
                                textWrap="true"></Label>
                        </StackLayout>
                        <StackLayout col="1">
                            <StackLayout orientation="horizontal">
                                <Label class="whitetext iconeclimapq" text="&#xf053;"></Label>
                                <Label class="whitetext iconeclimapq" text="{{curevento!=undefined?curevento.row.minima:''}}"></Label>
                                <Label class="whitetext iconeclimapq" text="&#xf03c;"></Label>
                            </StackLayout>
                            <StackLayout orientation="horizontal">
                                <Label class="whitetext iconeclimapq" text="&#xf055;"></Label>
                                <Label class="whitetext iconeclimapq" text="{{curevento!=undefined?curevento.row.maxima:''}}"></Label>
                                <Label class="whitetext iconeclimapq" text="&#xf03c;"></Label>
                            </StackLayout>

                        </StackLayout>
                    </GridLayout>
                </StackLayout>
            </GridLayout>
        </ScrollView>
    </StackLayout>
    <StackLayout height="100%" (swipe)="onSwipe($event)" visibility="{{showwebview?'visible':'collapse'}}">
        <WebView height="100%" src="{{curevento!=undefined?curevento.row.site:''}}" #myWebView (touch)="webViewTouch($event)" (pan)="webViewPan($event)"></WebView>
    </StackLayout>
    <GridLayout (swipe)="onSwipe($event)" visibility="{{showmap?'visible':'hidden'}}">
        <MapView #mapView [latitude]="location.latitude" [longitude]="location.longitude" [zoom]="zoom" [minZoom]="minZoom" [maxZoom]="maxZoom"
            [bearing]="bearing" [tilt]="tilt" i-padding="50,50,50,50" [padding]="padding" (mapReady)="onMapReady($event)" (markerSelect)="onMarkerEvent($event)"
            (markerBeginDragging)="onMarkerEvent($event)" (markerEndDragging)="onMarkerEvent($event)" (markerDrag)="onMarkerEvent($event)"
            (markerInfoWindowTapped)="onMarkerEvent($event)" (coordinateTapped)="onCoordinateTapped($event)" (cameraChanged)="onCameraChanged($event)"></MapView>
    </GridLayout>
</StackLayout>